.navbar{
    background-color:rgb(240, 240, 240);
    margin-left:0px;
    margin-right:0px;
}

body{
    background-color:#990000;
}

.navbar-brand{
    height:20px
}

.container{
    background-color: #FFCC00;
    margin-top:30px;
    margin-bottom:30px;
    
}


#trojan{
    margin-top:40px;
    margin-bottom:20px;
    width:150px;
    align-items:center;
}

h1{
    
}

#helmet{
    margin-top:40px;
    margin-bottom:20px;
    width:150px;
    align-items:center;
}

#traveler{
    margin-top:40px;
    margin-bottom:20px;
    width:150px;
    align-items:center;
}

.contact{
    background-color:rgb(240, 240, 240);
    margin-left:0px;
    margin-right:0px;
    margin-bottom:0px;
}

#checkOut{
    margin-bottom:30px;
}

.card{
    border-width:2px;
    border-color:black;
}